//`Tasks` collection as an example, but you would probably replace this with your own collection name (`Posts`, `Sales`, `Projects`, etc.) and change the file and variables names accordingly.

template(name='task')
  li(class='{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}')
    button.delete &times;
    input.toggle-checked(type='checkbox', checked='{{checked}}')
    if isOwner
      button.toggle-private
        if private
          private Private
        else
          public Public
    span.text
      strong {{username}} - {{text}}