//Pages folder is for static pages
template(name="home")
  .row.jumbotron
    .col-lg-12
      h1 The great Todo Task application
      p It can do all this really cool stuff - wow!
      h4 Please login to get started

  .row
    .col-lg-4
      h5
        strong Subheading
      p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    .col-lg-4
      h5
        strong Subheading
      p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    .col-lg-4
        h5
          strong Subheading
        p Maecenas sed diam eget risus varius blandit sit amet non magna.